.container {
    margin: auto;
    width: 100%;
  }

.dateDisplay {
  margin: auto;
  width: 68%;
  display: inline-block;
  padding: 1%;
}

.dateDisplayButton {
  width: 8%;
  display: inline-block;
  padding: 1%;
}

.tableContainer {
    margin: auto;
    height: 500px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }


table {
  width: 100%;
}
