.container {
  margin: auto;
  width: 100%;
}

.button {
  margin: 2px;
  position: absolute;
  right: 0;
}
.form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-grid-list {
  margin: 3px;
}