.container {
  margin: auto;
  width: 70%;
}

.form {
    width: 78%;
    padding: 1%;
  }

.button {
  margin: auto;
  width: 8%;
  padding: 1%;
}

.currentActivity {
  margin: auto;
  width: 8%;
  padding: 1%;
}

mat-form-field {
  margin: auto;
  width: 78%
}