<form>
    <div class="container">
        <span class="currentActivity">
            {{ currentDiff }}
        </span>
        <span class="form">
            <mat-form-field>
                <mat-label>log Time</mat-label>
                <input type="text" matInput [formControl]="activityFormControl" placeholder="sushi">
            </mat-form-field>
        </span>
        <span class="button">
            <button mat-raised-button color="primary" (click)="addActivity()">Add</button>
        </span>
    </div>
</form>