<form>
    <mat-grid-list cols="8" rowHeight="60px">
        <mat-grid-tile colspan="1">
            {{ currentDiff }}
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <div class="form">
                <mat-form-field>
                    <mat-label>log Time</mat-label>
                    <input type="text" matInput [formControl]="activityFormControl" placeholder="sushi">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="button">
                <button mat-raised-button color="primary" (click)="addActivity()">Add</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>