.container {
    margin: auto;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

.tableContainer { 
  margin: auto;
  height: 500px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  }


table {
    width: 100%;
  }

.make-gold {
  background-color: lightgray
}