<div class="container">

    <span class="dateDisplayButton">
        <button mat-raised-button color="primary" (click)="previousDay()">back</button>
    </span>
    <span class="dateDisplay">{{ this.day | date:'yyyy-MM-dd'}}</span>
    <span class="dateDisplayButton">
        <button mat-raised-button color="primary" (click)="nextDay()">next</button>
    </span>
</div>

<div class="tableContainer">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>TimeStamp</th>
            <td mat-cell *matCellDef="let element">{{element.timestamp}}</td>
        </ng-container>
        <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef>Activity</th>
            <td mat-cell *matCellDef="let element">{{element.activity}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{'make-gold': row.activity.includes('**') }" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>