<app-date-picker></app-date-picker>
<div class="tableContainer">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="abstime">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">{{element.abstime}}</td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Time diff</th>
            <td mat-cell *matCellDef="let element">{{element.timestamp}}</td>
        </ng-container>
        <ng-container matColumnDef="activity">
            <th mat-header-cell *matHeaderCellDef>Activity</th>
            <td mat-cell *matCellDef="let element">{{element.activity}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{'make-gold': row.activity.includes('**') }"
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<button mat-raised-button color="primary" (click)="generateCSV()">Download CSV</button>