<mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile colspan="1">
        <div class="leftButtons">
            <button mat-raised-button color="primary" (click)="today()">today</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <span class="dateDisplay">{{ this.day | date:'yyyy-MM-dd'}}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <div class="rightButtons">
            <button mat-raised-button color="primary" (click)="previousDay()">back</button>
            <button mat-raised-button color="primary" (click)="nextDay()">next</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>